@model IEnumerable<ChildrenHelper.Models.Diagnoz>
@{
    ViewBag.Title = "Список болезней";
}

<h2>Список болезней</h2>
<p>
    @Html.ActionLink("Добавить болезнь", "Create_diagnoz")
</p>
<table>
    <tr>
        <th>Название болезни</th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
      
            <td>
                @Html.ActionLink("Редактировать", "Edit_diagnoz", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete_diagnoz", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<p>

</p>