@{
    ViewBag.Title = "Admin-panel";
}

    <html>
<head>
    <style>
        h2 {
            text-align:center;
        }
        p{
            text-align:center;
        }
    </style>
</head>
    <body>
        <h2>Админ панель</h2>
        <p>
            @Html.ActionLink("Список детей", "Children")
        </p>
        <p>
            @Html.ActionLink("Список пользователей", "Users")
        </p>
        <p>
            @Html.ActionLink("Список болезней", "Diagnoz")
        </p>
    </body>
    </html>